body{
    margin:0;
    font-family:sans-serif;
    display:flex;
    height:100vh;
    background:#f4f4f4;
}

.sidebar{
    width:250px;
    background:#111;
    color:white;
    padding:10px;
}

.sidebar button{
    width:100%;
    margin:10px 0;
    padding:10px;
    cursor:pointer;
    border:none;
    background:#4a90e2;
    color:white;
    border-radius:5px;
}

#history div{
    padding:5px;
    margin:5px 0;
    background:#222;
    cursor:pointer;
    border-radius:4px;
}

.chat-container{
    flex:1;
    display:flex;
    flex-direction:column;
}

#messages{
    flex:1;
    padding:20px;
    overflow:auto;
    background:white;
}

.user{
    background:#4a90e2;
    color:white;
    padding:10px;
    margin:5px;
    border-radius:8px;
    word-break: break-word;
}

.bot{
    background:#eee;
    color:#111;
    padding:10px;
    margin:5px;
    border-radius:8px;
    word-break: break-word;
}

.code{
    background:#111;
    color:#00ff9d;
    padding:10px;
    margin:5px;
    border-radius:8px;
    font-family:monospace;
    white-space: pre-wrap;
}

.inputBox{
    display:flex;
    gap:10px;
    padding:10px;
    border-top:1px solid #ddd;
}

textarea{
    flex:1;
    padding:10px;
    resize:none;
}

button{
    padding:10px 15px;
    cursor:pointer;
  }
